
html {
    box-sizing: inherit;
    background-color: #8e9eab;
    background: linear-gradient(to left, #8e9eab, #eef2f3);
}

body {
    text-align:center;
    margin: 100px;

}
h1 {
    margin-bottom:100px;
}
.ui-select-trigger {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color:#393d41;
    position: relative;
    border-radius: 3px;
}
.ui-select-trigger span {
    font-size: 12px;
    color: #cccccc;
    padding: 0 15px 0 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-select-trigger.active {
    border-color: #ccc;
    border-radius: 3px 3px 0 0;
}

.ui-select-trigger.active i, .ui-select-trigger:hover i {
    border-top-color: #ccc;
}

.ui-select {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    min-height: 10px;
    background-color: #fefefe;
    overflow-y: auto;
}

.ui-select-trigger i {
    position: absolute;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #ddd;
    top: 5px;
}

.ui-select-content {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin: 0;
    color: #666;
}

.ui-select-content li {
    padding: 0px 10px;
    overflow: hidden;
    word-break: break-all;
    line-height: 1.3;
    cursor: pointer;
}

.ui-select-content li:not(.ui-select-item-disabled):hover {
    background-color: #2ea3d0;
    color: #fff;
}

.ui-select-content li.ui-select-item-disabled {
    color: #ccc;
    cursor: not-allowed;
}

.ui-select-content li.ui-select-item-selected, .ui-select-content li.ui-select-item-selected:hover {
    background-color: #2ea3d0;
    color: #fff;
}

.ui-select-disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.ui-select-disabled span {
    color: #999;
}

.ui-select-disabled i {
    border-top-color: #ccc;
}
p a{
    display:inline-block;
    font-size:14px;
    height:36px;
    line-height: 36px;
    background-color: #222;
    color: #eee;
    margin:300px 5px;
    padding: 0 50px;
    border-radius: 2px;
    text-decoration: none;
}
p a:hover{
    color:#fff;
    background-color: #000;
}
