div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font :16px/18px arial;
}

input,li {
    height: 30px;
    width: 400px;
    line-height: 30px;
}

input {
    border: 1px solid black;
}
li{
    background-color: rgb(249,252,255);
}
ul {
    list-style: none;
    width: 400px;
    box-sizing: border-box;
    padding: 0;

}

li:nth-child(data-list-index){
    background-color: rgb(168,213,252);
}
.hide{
    visibility:hidden;
}

li:hover,.hover {
    background-color: rgb(168,213,252);
}