
.head, html, .pop, .foot {
  width: 100%;
  max-width: 750px;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 42.8px
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.67px
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px
  }
}

@media screen and (min-width: 385px) {
  html {
    font-size: 51.33px
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 53.33px
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px
  }
}

@media screen and (min-width: 450px) {
  html {
    font-size: 60px
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 64px
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 72px
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33px
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 100px
  }
}